<div class="row">
    <div class="col-md-6">
        <h2>Covenant of {{cov.covenant.name}}</h2>
        <p>{{cov.covenant.description}}</p>
    </div>
    <div class="col-md-6 form-group">
        <!-- cov.selected is an object, with a numerically named property for each selected item -->
        <!-- $index is evaluated as "0", "1", etc. -->
        <div class="checkbox-inline" ng-repeat="magus in cov.covenant.members">
            <input ng-model="cov.selected[$index]" id="{{magus}}" type="checkbox" name="{{magus}}" value="" /><label for="{{magus}}">{{magus}}</label>
        </div>
        <div class="btn btn-primary btn-small" ng-click="cov.selectAll(true)">
            Select All
        </div>
        <div class="btn btn-primary btn-small" ng-click="cov.selectAll(false)">
            Deselect All
        </div>
        <p>
            <div class="form-horizontal form-inline">
                <label for="startYear">From </label>
                <input id="startYear" type="number" name="startYear" min="1220" max="1300" required="true" class="form-control" ng-model="cov.startYear"></input>
                <label for="endYear">To </label>
                <input id="endYear" type="number" name="endYear" min="1220" max="1300" required="true" class="form-control" ng-model="cov.endYear"></input>
                <div class="btn btn-lg btn-success" ng-click="cov.refreshGrid()">Refresh</div>
            </div>
        </p>
    </div>
</div>
</div>
<div>
    <div ui-grid="{ data: cov.seasons, enableSorting: false, columnDefs: cov.columnDefs, rowHeight: 66,
        onRegisterApi: cov.apiRegister }" ui-grid-resize-columns class="myGrid" ui-grid-cellnav></div>
</div>